.underline-custom::after {
  content: "";
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.custom-shadow {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3); /* Applies shadow in all directions */
  }

.job-card {
    box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.1); /* Applies shadow in all directions */
  }
